<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<header id="page-topbar" th:fragment="headerFragment">
    <div class="navbar-header">
<!--        <div class="d-flex">-->
<!--            &lt;!&ndash; LOGO &ndash;&gt;-->
<!--            <div class="navbar-brand-box">-->
<!--                <a th:href="@{/}" class="logo logo-light">-->
<!--                                <span class="logo-sm">-->
<!--                                    <img src="assets/images/logo1.png" alt="" height="22">-->
<!--                                </span>-->
<!--                    <span class="logo-lg">-->
<!--                                    <img src="assets/images/logo1.png" alt="" height="60">-->
<!--                                </span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->

        <div class="d-flex">
            <div class="header-item">
                <button type="button" id="noticeBoard" class="btn header-item waves-effect">
                    <span>공지사항</span>
                </button>
            </div>
            <div class="header-item">
                <button class="btn header-item waves-effect" id="freeBoard" th:href="@{/posts}">
                    <span>자유게시판</span>
                </button>
            </div>
            <div class="header-item">
                <button class="btn header-item waves-effect" id="freeBoard" th:href="@{/posts}">
                    <span>갤러리</span>
                </button>
            </div>
        </div>

        <div class="d-flex">
            <!--        Profile-->
            <div class="header-item">
                <button class="btn header-item waves-effect" >회원가입</button>
            </div>
        </div>
    </div>
</header>

<div class="topnav" th:fragment="navFragment">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse active" id="topnav-menu-content">
                <ul class="navbar-nav active">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-dashboard" role="button">
                            <span key="t-dashboards">활용전</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
</html>